*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251, 237, 197);
}

h1.hp{
    color: rgb(240, 106, 66);
    text-align: center;

}

.description, h4{
    color: rgb(233, 123, 90)
}

img.hp{
    display: block;
    margin:auto;
}


div.container {
    text-align: center;
  }
  
  ul.myUL {
    display: inline-block;
    text-align: left;

  }

  body.recipe{
    margin: 30px;
  }
